html, body {
  margin: 0;
  padding: 0;
  background-color:rgba(67, 29, 24, 0.779);
}
canvas{
  margin-left: 100px;
  margin-right: 10px;
  margin-top: 50px;
   border: 10px solid rgba(224, 105, 68, 0.594); 
}